<div class="main-container d-flex">
                {{>sidebar}}


        <div class="content container mt-1" style="min-height: 100vh; width: 100%;">
            <div class="col-md-12 fs-2 p-2 text-white text-center rounded mb-4" style="background: #f8c4d9;">Create Report</div>
            <form action="/createreport" class="container">
                <div class="row justify-content-center">
                    <label class="col-1" for="report">Report:</label>
                    <select id="select_BC" class="col-2" name="report" id="report">
                        <option value="bcmh">Báo cáo môn học</option>
                        <option value="bchk">Báo cáo học kỳ</option>
                    </select>

                    <div class="col-1"></div>

                    <label class="col-1" for="subjects">Subjects:</label>
                    <select class="col-1" name="subjects" id="subjects">
                        <option value="toan">Toán</option>
                        <option value="ly">Lý</option>
                        <option value="hoa">Hóa</option>
                        <option value="sinh">Sinh</option>
                        <option value="su">Sử</option>
                        <option value="dia">Địa</option>
                        <option value="van">Văn</option>
                        <option value="dduc">Đ.Đức</option>
                        <option value="tduc">T.Dục</option>
                    </select>

                    <div class="col-1"></div>

                    <label class="col-1" for="semester">Semester:</label>
                    <select class="col-1" name="semester" id="semester">
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>

                    <div class="col-1"></div>

                    <label class="col-1" for="year">Year:</label>
                    <select class="col-1" name="year" id="year">
                        {{#each years}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="row my-5 justify-content-center">   
                <button type="submit" id="btn_create" class="btn col-1" style="background: #f8c4d9;">Create</button>
            </div>
            </form>
            
            <hr>

            {{#if table2}}
            <div id="table1">
                <div class="col-md-12 fs-4 p-2 text-center mb-4">Báo Cáo Học Kỳ</div>
                <table id="BCHK" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Class</th>
                            <th>Total sutdents</th>
                            <th>Passed</th>
                            <th>Rate (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data}}
                        <tr>
                            <td>{{this.no}}</td>
                            <td>{{this.class}}</td>
                            <td>{{this.totalstudents}}</td>
                            <td>{{this.passed}}</td>
                            <td>{{this.rate}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
            </table>
            </div>
            {{/if}}
            {{#if table1}}
            <div id="table2">
                <div class="col-md-12 fs-4 p-2 text-center mb-4">Báo Cáo Môn Học</div>
                <table id="BCMH" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Class</th>
                            <th>Subjects</th>
                            <th>Total sutdents</th>
                            <th>Passed</th>
                            <th>Rate (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data}}
                        <tr>
                            <td>{{this.no}}</td>
                            <td>{{this.class}}</td>
                            <td>{{this.sub}}</td>
                            <td>{{this.totalstudents}}</td>
                            <td>{{this.passed}}</td>
                            <td>{{this.rate}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
            </table>
            </div>
            {{/if}}
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#BCMH')? $('#BCMH').DataTable(): null
            $('#BCHK')? $('#BCHK').DataTable();: null
        });
    </script>