<div class="main-container d-flex">
                {{>sidebar}}

        <div class="content container mt-1" style="min-height: 100vh; width: 100%;">
            <div class="col-md-12 fs-2 p-2 text-white text-center rounded mb-4" style="background: #f8c4d9;">Create Report</div>
            <form action="/createreport" class="container" method="post">
                <div class="row justify-content-center">
                    <label class="col-1" for="report">Report:</label>
                    <select id="select_BC" class="col-2" name="report" id="report">
                        <option value="BCMH">Báo cáo môn học</option>
                        <option value="BCHK">Báo cáo học kỳ</option> 
                    </select>

                    <div class="col-1"></div>

                    <label class="col-1" for="subjects">Subjects:</label>
                    <select class="col-1" name="subjects" id="subjects">
                        <option value="MHTOAN">Toán</option>
                        <option value="MHLY">Lý</option>
                        <option value="MHHOA">Hóa</option>
                        <option value="MHSINH">Sinh</option>
                        <option value="MHSU">Sử</option>
                        <option value="MHDIA">Địa</option>
                        <option value="MHVAN">Văn</option>
                        <option value="MHDAODUC">Đ.Đức</option>
                        <option value="MHTHEDUC">T.Dục</option>
                    </select>

                    <div class="col-1"></div>

                    <label class="col-1" for="semester">Semester:</label>
                    <select class="col-1" name="semester" id="semester">
                        <option value="Học kỳ 1">1</option>
                        <option value="Học kỳ 2">2</option>
                    </select>

                    <div class="col-1"></div>

                    <label class="col-1" for="year">Year:</label>
                    <select class="col-1" name="year" id="year">
                        <option value="2019-2020">2020</option>
                        <option value="2020-2021">2021</option>
                        <option value="2021-2022">2022</option>
                    </select>
                </div>
                 <div class="row my-5 justify-content-center">   
                <button id="btn_create" class="btn col-1" style="background: #f8c4d9;" type="submit">Create</button>
                </div>
            </form>

            <hr>
            {{#if rpHK}}
             <div id="table1">
                <div class="col-md-12 fs-4 p-2 text-center mb-4">Báo Cáo Học Kỳ</div>
                <table id="BCHK" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Class</th>
                            <th>Total students</th>
                            <th>Passed</th>
                            <th>Rate</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each reports}}
                        <tr>
                            <td>{{this.rank}}</td>
                            <td>{{this.tenLop}}</td>
                            <td>{{this.siso}}</td>
                            <td>{{this.SoHocSinhPass}}</td>
                            <td>{{this.rate}} %</td>
                        </tr>
                        {{/each}}
                    </tbody>
            </table>
            </div> 
            {{/if}}
            {{#if rpMH}}
             <div id="table2">
                <div class="col-md-12 fs-4 p-2 text-center mb-4">Báo Cáo Môn Học</div>
                <table id="BCMH" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Class</th>
                            <th>Subject</th>
                            <th>Total sutdents</th>
                            <th>Passed</th>
                            <th>Rate</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each reports}}
                        <tr>
                            <td>{{this.rank}}</td>
                            <td>{{this.tenLop}}</td>
                            <td>{{this.nameSub}}</td>
                            <td>{{this.siso}}</td>
                            <td>{{this.SoHocSinhPass}}</td>
                            <td>{{this.rate}} %</td>
                        </tr>
                        {{/each}}
                    </tbody>
            </table>
            </div> 
            {{/if}}
        </div>
  
    </div>
    <script>
        $(document).ready(function () {
            $('#BCMH').DataTable();
        });
    </script>