<div class="main-container d-flex">
                {{>sidebar}}
               <div class="content container mt-1" style="min-height: 100vh; width: 100%;">
                  {{#if reportMessage}}
      <div class="alert alert-success" role="alert">
        <h3 class="text-center fw-bold">
           {{reportMessage}}
         </h3>
       </div>
  {{/if}}
            <div class="col-md-12 fs-2 p-2 text-white text-center rounded mb-4" style="background: #f8c4d9;">Student's Score</div>

            <form action="/scores" class="container" method="post">
                <div class="row justify-content-around">
                    <label class="col-1" for="subjects">Subjects:</label>
                    <label class="col-1" for="subjects">{{subjects}}</label>
                    <input type="hidden" value="{{idSubjects}}" name="idSubject">
                    <label class="col-1" for="class">Class:</label>
                    <select class="col-1" name="class" id="class">
                        {{#each infoClass}}
                              <option value="{{this.maLop}}">{{this.tenLop}}</option>
                        {{/each}}
                    </select>
        
                    <label class="col-1" for="semester">Semester:</label>
                    <select class="col-1" name="semester" id="semester">
                        <option value="Học kỳ 1">1</option>
                        <option value="Học kỳ 2">2</option>
                    </select>

                    <label class="col-1" for="year">Year:</label>
                    <select class="col-1" name="year" id="year">
                        <option value="2019-2020">2020</option>
                        <option value="2020-2021">2021</option>
                        <option value="2021-2022">2022</option>
                    </select>
                </div>
                <div class="row my-5 justify-content-center">   
                    <button id="btn_show" class="btn col-1" style="background: #f8c4d9; " type="submit">Show</button>
                </div>
            </form>
   
            <table id="example" class="table table-striped" style="width:100%">
            {{#if scores}}
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>ID-Student</th>
                            <th>Name</th>
                            <th>15-min</th>
                            <th>45-min</th>
                            <th>Semester Final Test</th>
                            <th>Average</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each scores}}
                        <tr>
                            <td>{{this.rank}}</td>
                             <td class="id">{{this.maHS}}</td>
                            <td >{{this.hoTen}}</td>
                            <td class="p15">{{this.diem15}}</td>
                            <td class="p45">{{this.diem45}}</td>
                            <td class="p60">{{this.diemHK}}</td>
                            <td>{{this.DiemTKMON}}</td>
                            <td class="makq" style="display:none;">{{this.maKQ}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                 {{/if}}
            </table>
           
            <!-- Modal -->
            <div class="modal fade " id="editScoreModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">ID: </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    <form action="/edit-score-student" method="post">
                        <div class="modal-body">
                            <div class="container d-flex justify-content-around gap-3">
                                <div class="col-4">
                                    <label for="modal_15mins" class="form-label">15-mins</label>
                                    <input
                                        type="number"
                                        class="form-control"
                                        id="modal_15mis"
                                        name="diem15"
                                        min="0"
                                        max="10"
                                        step="0.1"
                                        value=""
                                     />
                                </div>
                                <div class="col-4">
                                    <label for="modal_45mins" class="form-label">45-mins</label>
                                    <input
                                        type="number"
                                        class="form-control"
                                        id="modal_45mis"
                                        name="diem45"
                                        min="0"
                                        max="10"
                                        step="0.1"
                                        value=""
                                       />
                                </div>
                                <div class="col-4">
                                    <label for="modal_semfinal" class="form-label">Semester final</label>
                                    <input
                                        type="number"
                                        class="form-control"
                                        id="modal_semfinal"
                                        name="diemFinal"
                                        min="0"
                                        max="10"
                                        step="0.1"
                                        value=""
                                      />
                                </div>
                              
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="btnClose" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn" style="background: #f8c4d9;" >Save changes</button>      
                        </div>
                        <input type="hidden" value="" name="idhs" id="idhs">
                        <input type="hidden" value="" name="idkq" id="idkq">
                     </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();

            var table = $('#example').DataTable();

            $('#example tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }

                // find student's ID
                var item = $(this).closest("tr")   // Finds the closest row <tr> 
                       .find(".id")     // Gets a descendent with class="nr"
                       .text();

                var p15 = $(this).closest("tr").find(".p15").text();
                 var p45 = $(this).closest("tr").find(".p45").text();
                  var p60 = $(this).closest("tr").find(".p60").text();
                  var mkq = $(this).closest("tr").find(".makq").text();
                // set student's ID for Modal header 
                $(".modal-title").text("ID: " + item);
                $("#modal_15mis").val(p15);
                $("#modal_45mis").val(p45);
                $("#modal_semfinal").val(p60);
                $("#idhs").val(item);
                $("#idkq").val(mkq);
                // show modal       
                $("#editScoreModal").modal("show");

                $("#btnClose").on('click',function(){
                    table.$('tr.selected').removeClass('selected');
                })
            });
        });
    </script>